.Home {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

#home h1{
    margin: 2% 0px;
}
#home .form{
    margin: 0px;
    margin-bottom: 2%;
}
#home h3,#home h1{
    /* text-align: center; */
    color: #3f51b5;
    font-size: 2rem;
}

#home .tasks{
    margin-top: 2%;
}

.nav-item.nav-link.active{
    background-color: #3f51b5!important;
    color: #FFF!important;
}

.body{
    background-color: #f9fafc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(3, 3, 3);
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px;
} 

.taskTitle{
    border-style: solid;
    border-color: black;
    border-width: 5px; 
}

.homePagePic{
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 50%;
    height: 50%;
}