/* Modify the backgorund color */
.navbar-custom {
    background-color: #3f51b5;
}

.navbar-custom  .user_loggedin{
    display: flex;
    color: #FFF;
    align-items: center;
    border-left: 1px solid #FFF;
    padding-left:1%;
}
.navbar-custom  .user_loggedin  .avatar{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.navbar-custom  .user_loggedin span{
    display: inline-block;
}

.navbar-custom sup{
    font-weight: bold;
}

.navbar-custom button{
    border: 1px solid #FFF;
    transition: all .3s;
    font-size: 1rem;
    padding: 8px 16px;
}

.navbar-custom button:hover{
    border: 1px solid transparent;
    font-size: 1rem!important;
    padding: 8px 16px!important;
    background-color: #FFF;
}
