body {
    background: #20262E;
    padding: 20px;
    font-family: Helvetica;
  }
  
  #app {
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
  }
  
  h1 {
    color:white;
  }
  p1 {
    color:white;
  }
  p2 {
    color:white;
  }
