#tasktitle {
    padding: 14px 10px 14px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}
#drpdwnmenu{
    color: black;
    font-weight: bold;
    
    background-color: white;
}