
  /* .p {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
   */

  /* picture {
    margin: auto;
    padding: 30px;
    background-color: white;
    /* box-shadow: 10px 10px 10px; */
  /* } */