.ResetPassword {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ResetPassword:hover {
    /* background-color: black; */
    background-color: white;
    color: #909090;
}

username {
    font-size: 20px;
    font-family: georgia;
    color: white;

}

button {
    /* background-color: #909090; */
    background-color: white;
    font-family: georgia;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

button:hover {
    /* background-color: #909090; */
    background-color: #909090;
    font-family: georgia;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

.p {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px;
}